DDpage/Web References/PlanOut/document.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN_BN_ZZXNOPLAN">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN_BN_ZZXNOPLAN_SOAP12">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_IF_ZZXNOPLAN">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
      <sapcentraladmin:BusinessApplicationID>6CAE8B779C8C1ED993EEE83B53C83D86</sapcentraladmin:BusinessApplicationID>
    </sapcentraladmin:CentralAdministration>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_IF_OP_ZPP_NO_PLAN">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char12">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char32">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="32" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum13.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZPP_PLAN_MSG">
        <xsd:sequence>
          <xsd:element name="WERKS" type="tns:char4" />
          <xsd:element name="LGORT" type="tns:char4" />
          <xsd:element name="MATNR" type="tns:char18" />
          <xsd:element name="AUFNR" type="tns:char12" />
          <xsd:element name="GSBER" type="tns:char4" />
          <xsd:element name="ZNEED" type="tns:quantum13.3" />
          <xsd:element name="ZOK" type="tns:quantum13.3" />
          <xsd:element name="ZNOT" type="tns:quantum13.3" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZPP_PLAN_ITEM">
        <xsd:sequence>
          <xsd:element name="MATNR" type="tns:char18" />
          <xsd:element name="WERKS" type="tns:char4" />
          <xsd:element name="LGORT" type="tns:char4" />
          <xsd:element name="MENGE" type="tns:quantum13.3" />
          <xsd:element name="ZNEED" type="tns:quantum13.3" />
          <xsd:element name="SERIALNO" type="tns:char18" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZPP_PLAN_HEAD">
        <xsd:sequence>
          <xsd:element name="AUFNR" type="tns:char12" />
          <xsd:element name="SGTXT" type="tns:char4" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BAPIRET2">
        <xsd:sequence>
          <xsd:element name="TYPE" type="tns:char1" />
          <xsd:element name="ID" type="tns:char20" />
          <xsd:element name="NUMBER" type="tns:numeric3" />
          <xsd:element name="MESSAGE" type="tns:char220" />
          <xsd:element name="LOG_NO" type="tns:char20" />
          <xsd:element name="LOG_MSG_NO" type="tns:numeric6" />
          <xsd:element name="MESSAGE_V1" type="tns:char50" />
          <xsd:element name="MESSAGE_V2" type="tns:char50" />
          <xsd:element name="MESSAGE_V3" type="tns:char50" />
          <xsd:element name="MESSAGE_V4" type="tns:char50" />
          <xsd:element name="PARAMETER" type="tns:char32" />
          <xsd:element name="ROW" type="xsd:int" />
          <xsd:element name="FIELD" type="tns:char30" />
          <xsd:element name="SYSTEM" type="tns:char10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_ZPP_PLAN_MSG">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZPP_PLAN_MSG" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_ZPP_PLAN_ITEM">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZPP_PLAN_ITEM" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_BAPIRET2">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:BAPIRET2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZPP_NO_PLAN">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ET_MSG" type="tns:TABLE_OF_ZPP_PLAN_MSG" />
            <xsd:element name="ET_RETURN" type="tns:TABLE_OF_BAPIRET2" />
            <xsd:element name="IS_HEAD" type="tns:ZPP_PLAN_HEAD" />
            <xsd:element name="IT_ITEM" type="tns:TABLE_OF_ZPP_PLAN_ITEM" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZPP_NO_PLANResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ET_MSG" type="tns:TABLE_OF_ZPP_PLAN_MSG" />
            <xsd:element name="ET_RETURN" type="tns:TABLE_OF_BAPIRET2" />
            <xsd:element name="E_MSGTX" type="tns:char220" />
            <xsd:element name="E_MSGTY" type="tns:char1" />
            <xsd:element name="IT_ITEM" type="tns:TABLE_OF_ZPP_PLAN_ITEM" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZPP_NO_PLAN">
    <wsdl:part name="parameters" element="tns:ZPP_NO_PLAN" />
  </wsdl:message>
  <wsdl:message name="ZPP_NO_PLANResponse">
    <wsdl:part name="parameter" element="tns:ZPP_NO_PLANResponse" />
  </wsdl:message>
  <wsdl:portType name="ZZXNOPLAN">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_IF_ZZXNOPLAN" />
    </wsp:Policy>
    <wsdl:operation name="ZPP_NO_PLAN">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_IF_OP_ZPP_NO_PLAN" />
      </wsp:Policy>
      <wsdl:input message="tns:ZPP_NO_PLAN" />
      <wsdl:output message="tns:ZPP_NO_PLANResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZZXNOPLAN" type="tns:ZZXNOPLAN">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_ZZXNOPLAN" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZPP_NO_PLAN">
      <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZZXNOPLAN:ZPP_NO_PLANRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZZXNOPLAN_SOAP12" type="tns:ZZXNOPLAN">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_ZZXNOPLAN_SOAP12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZPP_NO_PLAN">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZZXNOPLAN:ZPP_NO_PLANRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZZXNOPLAN">
    <wsdl:port name="ZZXNOPLAN" binding="tns:ZZXNOPLAN">
      <soap:address location="http://ERPPRD.YANTAIMOON.COM:8001/sap/bc/srt/rfc/sap/zzxnoplan/800/zzxnoplan/zzxnoplan" />
    </wsdl:port>
    <wsdl:port name="ZZXNOPLAN_SOAP12" binding="tns:ZZXNOPLAN_SOAP12">
      <wsoap12:address location="http://ERPPRD.YANTAIMOON.COM:8001/sap/bc/srt/rfc/sap/zzxnoplan/800/zzxnoplan/zzxnoplan" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>