DDpage/Web References/Get_KmrApp_PurOrder/SI_ZDM_EKES.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:p1="http://www.kocel.com/lims/zdm_ekes" xmlns:rfc="urn:sap-com:document:sap:rfc:functions" name="SI_ZDM_EKES" targetNamespace="http://www.kocel.com/lims/zdm_ekes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_ZDM_EKES" />
  <wsdl:types>
    <xsd:schema xmlns="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="ZDM_EKESResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="ZT_EKES" type="rfc:TABLE_OF_ZSTT_EKES" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZDM_EKES">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="ZT_EKES" type="rfc:TABLE_OF_ZSTT_EKES" />
            <xsd:element minOccurs="0" name="Z_ERDAT" type="rfc:date10" />
            <xsd:element minOccurs="0" name="Z_VBELN" type="rfc:char10" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="date10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZSTT_EKES">
        <xsd:sequence>
          <xsd:element name="EBELN" type="rfc:char10" />
          <xsd:element name="EBELP" type="rfc:numeric5" />
          <xsd:element name="VBELN" type="rfc:char10" />
          <xsd:element name="VBELP" type="rfc:numeric6" />
          <xsd:element name="ERDAT" type="rfc:date10" />
          <xsd:element name="ADD1" type="rfc:char50" />
          <xsd:element name="ADD2" type="rfc:char50" />
          <xsd:element name="ADD3" type="rfc:char50" />
          <xsd:element name="ADD4" type="rfc:char50" />
          <xsd:element name="ADD5" type="rfc:char50" />
          <xsd:element name="ADD6" type="rfc:char50" />
          <xsd:element name="ADD7" type="rfc:char50" />
          <xsd:element name="ADD8" type="rfc:char50" />
          <xsd:element name="ADD9" type="rfc:char50" />
          <xsd:element name="ADD10" type="rfc:char50" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_ZSTT_EKES">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="rfc:ZSTT_EKES" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="rfc.ZDM_EKES">
    <wsdl:documentation />
    <wsdl:part name="parameters" element="rfc:ZDM_EKES" />
  </wsdl:message>
  <wsdl:message name="rfc.ZDM_EKESResponse">
    <wsdl:documentation />
    <wsdl:part name="parameter" element="rfc:ZDM_EKESResponse" />
  </wsdl:message>
  <wsdl:portType name="SI_ZDM_EKES">
    <wsdl:documentation />
    <wsdl:operation name="SI_ZDM_EKES">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_ZDM_EKES" />
      </wsp:Policy>
      <wsdl:input message="p1:rfc.ZDM_EKES" />
      <wsdl:output message="p1:rfc.ZDM_EKESResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_ZDM_EKESBinding" type="p1:SI_ZDM_EKES">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_ZDM_EKES">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_ZDM_EKESService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_ZDM_EKESBinding">
      <address location="http://poprd1:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_LIMS_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZDM_EKES&amp;interfaceNamespace=http%3A%2F%2Fwww.kocel.com%2Flims%2Fzdm_ekes" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_ZDM_EKESBinding">
      <address location="https://poprd1:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_LIMS_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZDM_EKES&amp;interfaceNamespace=http%3A%2F%2Fwww.kocel.com%2Flims%2Fzdm_ekes" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>