DDpage/Web References/Get_KmrApp_Inventory/SI_ZDM_INVENTORY_Sender.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:p1="http://www.kocel.com/lims/zdm_inventoryinf" xmlns:rfc="urn:sap-com:document:sap:rfc:functions" name="SI_ZDM_INVENTORY_Sender" targetNamespace="http://www.kocel.com/lims/zdm_inventoryinf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_ZDM_INVENTORY_Sender" />
  <wsdl:types>
    <xsd:schema xmlns="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="ZDM_INVENTORYINF">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Z_LGORT" type="rfc:char4" />
            <xsd:element minOccurs="0" name="Z_MATNR" type="rfc:char18" />
            <xsd:element minOccurs="0" name="Z_WERKS" type="rfc:char4" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZDM_INVENTORYINFResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ZTDM_INVENTORYINF" type="rfc:ZTDATA_INVENTORYINF" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="unit3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char9">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="9" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum13.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char32">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="32" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char22">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="22" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZSDM_INVENTORYINF">
        <xsd:sequence>
          <xsd:element name="MATNR" type="rfc:char40" />
          <xsd:element name="MAKTX" type="rfc:char40" />
          <xsd:element name="MTART" type="rfc:char4" />
          <xsd:element name="GROES" type="rfc:char32" />
          <xsd:element name="MATKL" type="rfc:char9" />
          <xsd:element name="MEINS" type="rfc:unit3" />
          <xsd:element name="NTGEW" type="rfc:quantum13.3" />
          <xsd:element name="GEWEI" type="rfc:unit3" />
          <xsd:element name="ZEINR" type="rfc:char22" />
          <xsd:element name="BISMT" type="rfc:char40" />
          <xsd:element name="CHARG" type="rfc:char10" />
          <xsd:element name="WERKS" type="rfc:char4" />
          <xsd:element name="LGORT" type="rfc:char4" />
          <xsd:element name="LABST" type="rfc:quantum13.3" />
          <xsd:element name="LVORM" type="rfc:char1" />
          <xsd:element name="ADD1" type="rfc:char50" />
          <xsd:element name="ADD2" type="rfc:char50" />
          <xsd:element name="ADD3" type="rfc:char50" />
          <xsd:element name="ADD4" type="rfc:char50" />
          <xsd:element name="ADD5" type="rfc:char50" />
          <xsd:element name="ADD6" type="rfc:char50" />
          <xsd:element name="ADD7" type="rfc:char50" />
          <xsd:element name="ADD8" type="rfc:char50" />
          <xsd:element name="ADD9" type="rfc:char50" />
          <xsd:element name="ADD10" type="rfc:char50" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZTDATA_INVENTORYINF">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="rfc:ZSDM_INVENTORYINF" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="rfc.ZDM_INVENTORYINF">
    <wsdl:documentation />
    <wsdl:part name="parameters" element="rfc:ZDM_INVENTORYINF" />
  </wsdl:message>
  <wsdl:message name="rfc.ZDM_INVENTORYINFResponse">
    <wsdl:documentation />
    <wsdl:part name="parameter" element="rfc:ZDM_INVENTORYINFResponse" />
  </wsdl:message>
  <wsdl:portType name="SI_ZDM_INVENTORY_Sender">
    <wsdl:documentation />
    <wsdl:operation name="SI_ZDM_INVENTORY_Sender">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_ZDM_INVENTORY_Sender" />
      </wsp:Policy>
      <wsdl:input message="p1:rfc.ZDM_INVENTORYINF" />
      <wsdl:output message="p1:rfc.ZDM_INVENTORYINFResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_ZDM_INVENTORY_SenderBinding" type="p1:SI_ZDM_INVENTORY_Sender">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_ZDM_INVENTORY_Sender">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_ZDM_INVENTORY_SenderService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_ZDM_INVENTORY_SenderBinding">
      <address location="http://poprd1:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_LIMS_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZDM_INVENTORY_Sender&amp;interfaceNamespace=http%3A%2F%2Fwww.kocel.com%2Flims%2Fzdm_inventoryinf" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_ZDM_INVENTORY_SenderBinding">
      <address location="https://poprd1:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_LIMS_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZDM_INVENTORY_Sender&amp;interfaceNamespace=http%3A%2F%2Fwww.kocel.com%2Flims%2Fzdm_inventoryinf" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>