DDpage/Web References/Get_KmrStorage_PlanList/SI_ZPP_RESB_Sender.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:p1="http://www.kocel.com/lims/zpp_resb" xmlns:rfc="urn:sap-com:document:sap:rfc:functions" name="SI_ZPP_RESB_Sender" targetNamespace="http://www.kocel.com/lims/zpp_resb" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_ZPP_RESB_Sender" />
  <wsdl:types>
    <xsd:schema xmlns="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="ZPP_RESB">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Z_AUFNR" type="rfc:char12" />
            <xsd:element minOccurs="0" name="Z_RSNUM" type="rfc:numeric10" />
            <xsd:element minOccurs="0" name="Z_VORNR" type="rfc:char4" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZPP_RESBResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Z_RESBINFO" type="rfc:ZTDATA_RESB" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="date10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="unit3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char9">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="9" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum13.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char8">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char7">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="7" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char12">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZSDATA_RESB">
        <xsd:sequence>
          <xsd:element name="AUFNR" type="rfc:char12" />
          <xsd:element name="BAUGR" type="rfc:char40" />
          <xsd:element name="VORNR" type="rfc:char4" />
          <xsd:element name="RSPOS" type="rfc:numeric4" />
          <xsd:element name="POSNR" type="rfc:char4" />
          <xsd:element name="PRODUCE_MAKTX" type="rfc:char40" />
          <xsd:element name="GAMNG" type="rfc:quantum13.3" />
          <xsd:element name="GMEIN" type="rfc:unit3" />
          <xsd:element name="RSNUM" type="rfc:numeric10" />
          <xsd:element name="MATNR" type="rfc:char40" />
          <xsd:element name="REQUIRE_MAKTX" type="rfc:char40" />
          <xsd:element name="BDMNG" type="rfc:quantum13.3" />
          <xsd:element name="ENMNG" type="rfc:quantum13.3" />
          <xsd:element name="MENGE" type="rfc:quantum13.3" />
          <xsd:element name="MEINS" type="rfc:unit3" />
          <xsd:element name="BDTER" type="rfc:date10" />
          <xsd:element name="VAPLZ" type="rfc:char8" />
          <xsd:element name="WERKS" type="rfc:char4" />
          <xsd:element name="LGORT" type="rfc:char4" />
          <xsd:element name="MATKL" type="rfc:char9" />
          <xsd:element name="BWART" type="rfc:char3" />
          <xsd:element name="KZEAR" type="rfc:char1" />
          <xsd:element name="KTSCH" type="rfc:char7" />
          <xsd:element name="LTXA1" type="rfc:char40" />
          <xsd:element name="PARGB" type="rfc:char4" />
          <xsd:element name="KOSTL" type="rfc:char10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZTDATA_RESB">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="rfc:ZSDATA_RESB" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="rfc.ZPP_RESB">
    <wsdl:documentation />
    <wsdl:part name="parameters" element="rfc:ZPP_RESB" />
  </wsdl:message>
  <wsdl:message name="rfc.ZPP_RESBResponse">
    <wsdl:documentation />
    <wsdl:part name="parameter" element="rfc:ZPP_RESBResponse" />
  </wsdl:message>
  <wsdl:portType name="SI_ZPP_RESB_Sender">
    <wsdl:documentation />
    <wsdl:operation name="SI_ZPP_RESB_Sender">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_ZPP_RESB_Sender" />
      </wsp:Policy>
      <wsdl:input message="p1:rfc.ZPP_RESB" />
      <wsdl:output message="p1:rfc.ZPP_RESBResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_ZPP_RESB_SenderBinding" type="p1:SI_ZPP_RESB_Sender">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_ZPP_RESB_Sender">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_ZPP_RESB_SenderService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_ZPP_RESB_SenderBinding">
      <address location="http://poprd1:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_LIMS_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZPP_RESB_Sender&amp;interfaceNamespace=http%3A%2F%2Fwww.kocel.com%2Flims%2Fzpp_resb" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_ZPP_RESB_SenderBinding">
      <address location="https://poprd1:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_LIMS_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZPP_RESB_Sender&amp;interfaceNamespace=http%3A%2F%2Fwww.kocel.com%2Flims%2Fzpp_resb" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>