DDpage/Web References/Post_KmrApp_OutComCostPick/SI_ZPP_GOODSMVT_201.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:p1="http://www.kocel.com/lims/zpp_goodsmvt_201" xmlns:rfc="urn:sap-com:document:sap:rfc:functions" name="SI_ZPP_GOODSMVT_201" targetNamespace="http://www.kocel.com/lims/zpp_goodsmvt_201" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_ZPP_GOODSMVT_201" />
  <wsdl:types>
    <xsd:schema xmlns="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="ZPP_GOODSMVT_201Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="ET_MSG" type="rfc:TABLE_OF_ZSD_GOODSMVTMSG_201" />
            <xsd:element minOccurs="0" name="ET_RETURN" type="rfc:TABLE_OF_BAPIRET2" />
            <xsd:element name="E_MSGTX" type="rfc:char220" />
            <xsd:element name="E_MSGTY" type="rfc:char1" />
            <xsd:element minOccurs="0" name="IT_ITEM" type="rfc:TABLE_OF_ZSD_GOODSMVTITEM_201" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZPP_GOODSMVT_201">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="ET_MSG" type="rfc:TABLE_OF_ZSD_GOODSMVTMSG_201" />
            <xsd:element minOccurs="0" name="ET_RETURN" type="rfc:TABLE_OF_BAPIRET2" />
            <xsd:element minOccurs="0" name="IS_HEAD" type="rfc:ZSD_GOODSMVTHEADER_201" />
            <xsd:element minOccurs="0" name="IT_ITEM" type="rfc:TABLE_OF_ZSD_GOODSMVTITEM_201" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="unit3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum13.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char32">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="32" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZSD_GOODSMVTITEM_201">
        <xsd:sequence>
          <xsd:element name="LGORT" type="rfc:char4" />
          <xsd:element name="BATCH" type="rfc:char10" />
          <xsd:element name="RSNUM" type="rfc:numeric10" />
          <xsd:element name="RSPOS" type="rfc:numeric4" />
          <xsd:element name="MENGE" type="rfc:quantum13.3" />
          <xsd:element name="ENTRY_UOM" type="rfc:unit3" />
          <xsd:element name="PLANT" type="rfc:char4" />
          <xsd:element name="MATNR" type="rfc:char18" />
          <xsd:element name="COSTCENTER" type="rfc:char10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZSD_GOODSMVTHEADER_201">
        <xsd:sequence>
          <xsd:element name="RSNUM" type="rfc:numeric10" />
          <xsd:element name="RSPOS" type="rfc:numeric4" />
          <xsd:element name="LGORT" type="rfc:char4" />
          <xsd:element name="GSBER" type="rfc:char4" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_BAPIRET2">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="rfc:BAPIRET2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BAPIRET2">
        <xsd:sequence>
          <xsd:element name="TYPE" type="rfc:char1" />
          <xsd:element name="ID" type="rfc:char20" />
          <xsd:element name="NUMBER" type="rfc:numeric3" />
          <xsd:element name="MESSAGE" type="rfc:char220" />
          <xsd:element name="LOG_NO" type="rfc:char20" />
          <xsd:element name="LOG_MSG_NO" type="rfc:numeric6" />
          <xsd:element name="MESSAGE_V1" type="rfc:char50" />
          <xsd:element name="MESSAGE_V2" type="rfc:char50" />
          <xsd:element name="MESSAGE_V3" type="rfc:char50" />
          <xsd:element name="MESSAGE_V4" type="rfc:char50" />
          <xsd:element name="PARAMETER" type="rfc:char32" />
          <xsd:element name="ROW" type="xsd:int" />
          <xsd:element name="FIELD" type="rfc:char30" />
          <xsd:element name="SYSTEM" type="rfc:char10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_ZSD_GOODSMVTITEM_201">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="rfc:ZSD_GOODSMVTITEM_201" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZSD_GOODSMVTMSG_201">
        <xsd:sequence>
          <xsd:element name="WERKS" type="rfc:char4" />
          <xsd:element name="LGORT" type="rfc:char4" />
          <xsd:element name="MATNR" type="rfc:char18" />
          <xsd:element name="RSNUM" type="rfc:numeric10" />
          <xsd:element name="GSBER" type="rfc:char4" />
          <xsd:element name="ZNEED" type="rfc:quantum13.3" />
          <xsd:element name="ZOK" type="rfc:quantum13.3" />
          <xsd:element name="ZNOT" type="rfc:quantum13.3" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_ZSD_GOODSMVTMSG_201">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="rfc:ZSD_GOODSMVTMSG_201" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="rfc.ZPP_GOODSMVT_201">
    <wsdl:documentation />
    <wsdl:part name="parameters" element="rfc:ZPP_GOODSMVT_201" />
  </wsdl:message>
  <wsdl:message name="rfc.ZPP_GOODSMVT_201Response">
    <wsdl:documentation />
    <wsdl:part name="parameter" element="rfc:ZPP_GOODSMVT_201Response" />
  </wsdl:message>
  <wsdl:portType name="SI_ZPP_GOODSMVT_201">
    <wsdl:documentation />
    <wsdl:operation name="SI_ZPP_GOODSMVT_201">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_ZPP_GOODSMVT_201" />
      </wsp:Policy>
      <wsdl:input message="p1:rfc.ZPP_GOODSMVT_201" />
      <wsdl:output message="p1:rfc.ZPP_GOODSMVT_201Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_ZPP_GOODSMVT_201Binding" type="p1:SI_ZPP_GOODSMVT_201">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_ZPP_GOODSMVT_201">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_ZPP_GOODSMVT_201Service">
    <wsdl:port name="HTTP_Port" binding="p1:SI_ZPP_GOODSMVT_201Binding">
      <address location="http://poprd1:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_LIMS_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZPP_GOODSMVT_201&amp;interfaceNamespace=http%3A%2F%2Fwww.kocel.com%2Flims%2Fzpp_goodsmvt_201" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_ZPP_GOODSMVT_201Binding">
      <address location="https://poprd1:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_LIMS_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZPP_GOODSMVT_201&amp;interfaceNamespace=http%3A%2F%2Fwww.kocel.com%2Flims%2Fzpp_goodsmvt_201" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>